<%- include('partials/msg.ejs') -%>
<h2>Signup Form</h2>
<form action="/signup" method="POST">
  <input type="email" name="email" placeholder="email" /> <br />
  <input type="password" name="password" placeholder="password" /> <br />
  <input type="submit" value="Submit" /> <br />
  <a href="login">Login</a>
</form>
